*.class

.idea/*
apindex/*
index/*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.res

.DS_Store
*.aux
*.log
*.gz

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

data/robust2004_file_list
/sigirforumreport/lucene4IR2016workshop_report.aux
/sigirforumreport/lucene4IR2016workshop_report.log
/sigirforumreport/lucene4IR2016workshop_report.fdb_latexmk
/sigirforumreport/lucene4IR2016workshop_report.bbl
/sigirforumreport/lucene4IR2016workshop_report.blg
/sigirforumreport/lucene4IR2016workshop_report.fls
/lucene4ir.iml
/.gitignore
/data/robust2004/
/params/index_params.xml
/lucene4ir.ipr
/lucene4ir.iws
/index/